<!DOCTYPE html>
{% import "macros.html" as macros %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purchase List</title>
    <meta name="description" content="Purchase List application">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/App.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="/static/js/App.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row" id="top_line">
        <div class="col-xs-12">
            {{ macros.draw_header_line(user_id, user_name, version) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ macros.draw_items(papa, items, user_id) }}
        </div>
    </div>
</div>
</body>
</html>

