<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purchase List</title>
    <meta name="description" content="Login">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/App.css">
    <script src="/static/js/App.js"></script>
</head>
<body>
    <div style="width:400px;margin-left:20px;margin-top:10px;">
        <form name="Login">
            <fieldset style="position:relative">
                <legend>Please Login</legend>
                <br><label>User name</label>
                <input type="text" id="user_name" value="---"><br><br>
                <button type="button" class="my_button" onclick="login()">Login</button><br><br>
            </fieldset>
        </form>
    </div>
</body>
</html>

