<!DOCTYPE html>
<html lang="en" xmlns:style="http://www.w3.org/1999/xhtml">

<!--- Macros --->

{% macro draw_item(item, widths, user_id) %}
            <tr>
                {% for key in item %}
                    {% set width = widths[loop.index0]|string %}
                    {% set field_val = item[key] %}
                    <td class="with_border"> {{ field_val }} </td>
                {% endfor %}
                <td class="with_border">
                    <button type="button" class="my_button"
                            onclick="call_item({{ user_id }}, {{ item['iditems'] }})">
                        Goto</button>
                </td>
                <td class="with_border" style="width: {{ widths[4] }}%">
                </td>
            </tr>
{% endmacro %}


{% macro draw_items(papa, items, user_id) %}
    <table width="50%">
        <tr>
            <td><h4 id="papa_id" hidden>{{ papa['id'] }}</h4></td>
            <td><h4 id="papa_name">{{ papa['item_name'] }}</h4></td>
            <td><h4 id="grandpa_id" hidden>{{ papa['papa_id'] }}</h4></td>
        </tr>
    </table>
    <table width="100%">
        {% set widths = [5, 40, 4, 4, 4, 4, 5] %}

        <thead>
        {% for key in items[0] %}
            {% set width = widths[loop.index0]|string %}
            <th class="with_border" style="width: {{ width }}%"> {{ key }} </th>
        {% endfor %}
        <th class="with_border" style="width: {{ widths[4] }}%">Goto</th>
        <th class="with_border" style="width: {{ widths[5] }}%">...</th>

        </thead>

        {% for item in items %}
            {{ draw_item(item, widths, user_id) }}
        {% endfor %}

    </table>

{% endmacro %}


{% macro draw_header_line(user_id, user_name, version) %}
        <div class="col-sm-1">
            <img class="logo" src="/static/images/logo.png" alt="Logo">
        </div>
        <div class="col-sm-3">
            <h3>Purchase List</h3>
        </div>
        <div class="col-sm-2">
            <div id="Version"><p>{{ version }}</p></div>
        </div>
        <div class="col-sm-5">
            <label hidden>User id:</label>
            <input type="number" id="user_id" value={{ user_id }}
                   readonly style="width:50px;" hidden>
            <label>User name:</label>
            <input type="text" id="user_name" value="{{ user_name }}" readonly>
        </div>
{% endmacro %}


</html>
