<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Input</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/App.css">
    <script src="/static/js/App.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h2>HTML Forms</h2>
<form action="/action_page" target="_blank">
    <table>
        <tr>
            <th>Text and number</th> <th>Radio</th>
            <th>Checkbox</th> <th>Slider</th> <th>List box</th>
            <th>Submit</th> </tr>
        <tr>
            <td>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value="Doe"><br>
                <label for="age">Age:</label><br>
                <input type="number" id="age" name="age" value=25>
            </td>
            <td>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>
            </td>
            <td>
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1"> I have a bike</label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                <label for="vehicle2"> I have a car</label><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
            </td>
            <td>
                <label for="points">Points (0-10):</label><br>
                <input type="range" id="points" name="points" min="0" max="10">
            </td>
            <td>
                <label>Choose hair color:</label><br>
                <select name="hair_color" id="hair_color">
                    <option value="black">Black</option>
                    <option value="blond">Blond</option>
                    <option value="brunet">Brunet</option>
                    <option value="white">White</option>
                </select>
            </td>
            <td>
                <input type="submit" value="OK">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
