<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My WEB site</title>
    <meta name="description" content="My first WEB server">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/App.css">
    <script src="/static/js/App.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
<div class="container-fluid">
    <img class="logo" src="/static/images/favicon.jpg" alt="Logo">
    <h1>My WEB site</h1>
    <button type="button" onclick="click_me(this)">Please click me</button>
    <p id="response_id"></p>
</div>
</body>
</html>

