{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">{% block title %} Edit ForkLift {% endblock %}</h1>
    <form method="post">
        <table class="table_with_border">
          <tr><th>Parameter</th><th>Value</th></tr>
          <tr><td>id</td><td><input type="number" name="id" value="{{fork_lift.id}}" readonly></td></tr>
          <tr><td>name</td><td><input type="text" name="name" value="{{fork_lift.name}}"></td></tr>
          <tr><td></td><td><button type="submit">Save</button></td></tr>
        </table>
    </form>
{% endblock %}